<%- include temp/head.ejs %>
<%- include temp/nav.ejs %>
  <div class="container" style="padding-top: 350px;">
    <div class="form-holder">
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <i class="far fa-times-circle not-found"></i>
          <h2>Page not found</h2>
      <p>Sorry the page you are looking for was not found...</p>
      <br>
    </div>
      </div>
    </div>
  </div>
</div>

<%- include temp/footer.ejs %>
