/* your styles go here */

.login-page::before {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.articles .item small {
    color: #aaa;
    font-size: 0.9em;
}

nav.navbar {
  background: #0277BD;
}

nav.side-navbar ul li.active > a {
    background: #0277BD;
    color: #fff;
    border-left: 4px solid #039BE5;
}

nav.side-navbar ul li.active > a:hover {
    background: #0277BD;
}

nav.side-navbar ul li a:hover {
    background: #0277BD;
    border-left: 4px solid #039BE5;
    color: #fff;
}

nav.side-navbar {
  transition: 0.45s;
}

.login-page .form-holder .info {
    background: rgba(2, 119, 189, 0.9);
    color: #fff;
}

.btn-primary {
    background-color: #0277BD;
    border-color: #0277BD;
}

input.input-material:focus {
    border-color: #0277BD;
}

input.input-material ~ label.active {
    font-size: 0.8rem;
    top: -10px;
    color: #0277BD;
}

label.form-control-label {
    color: #212121;
}

.form-control:focus {
    color: #0277BD;
    background-color: #fff;
    border-color: #0277BD;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(2, 119, 189, 0.25);
}

a {
    color: #0277BD;
    text-decoration: none;
        font-weight: 500;
}

.badge.badge-rounded {
    padding: 6px 8px;
}

button.btn.btn-outline-dark.btn-sm.add-to-day {
    margin-bottom: 10px;
    margin-top: 25px;
    margin-right: 5px;
}

.card-body.client {
    line-height: 35px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0277BD;
}

a:focus, a:hover {
  color:  #0277BD;
}

form.inclineForm {
    display: inline-block;
}

input.form-control.lead-type {
    width: 60%;
}

.day-card .form-group.center {
    width: 30%;
    margin: 0px;
}

.day-amount.float-right.new {
    padding: 10px 25px;
    background: #f3f3f3;
    color: #216C2A;
}

.badge.badge-rounded.bg-green.Follow-up {
    background: #FDD835!IMPORTANT;
}

.badge.badge-rounded.bg-green.Inactive {
    background: #E53935!IMPORTANT;
}

.content-inner {
    transition: 0.45s;
}

form#client-on-board {
    max-width: 100%;
}

img#MainLogo {
    height: auto;
    width: 250px;
    display: inline-block;
}

#sidebarConfirm {
    background: #fff;
    padding: 20px;
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

nav.navbar.confirm-booking {
    padding: 5px 0px;
}

button.btn.btn-primary.confirm-booking.pull-right.float-right {
    width: 100%;
    margin-top: 25px;
    padding: 12px 0px;
}

span.confirmBooking {
    font-size: 14px;
}

p.confirmTotal {
    font-size: 20px;
    color: #216C2A;
    font-weight: 500;
    letter-spacing: 0.5px;
}

label#terms {
    font-size: 12px;
}

p.float-left.paymentTotal {
    float: left !IMPORTANT;
    display: inline-block;
    color: #216C2A;
    font-size: 18px;
    margin: 0;
    margin-right: 10px;
}
