<!-- JavaScript files-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper.js/umd/popper.min.js"> </script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="vendor/chart.js/Chart.min.js"></script>
<script src="vendor/jquery-validation/jquery.validate.min.js"></script>
<script src="/javascripts/datepicker.min.js"></script>
<!-- Main File-->
<script src="javascripts/front.js"></script>
<script type="text/javascript">
$('#paymentNow').on('show.bs.modal', function (event) {

var button = $(event.relatedTarget) // Button that triggered the modal

});
</script>
</body>
</html>
