<!-- Main Navbar-->
    <header class="header sticky-top">
      <nav class="navbar confirm-booking">

        <div class="container-fluid">
          <div class="navbar-holder d-flex align-items-center justify-content-between">
            <!-- Navbar Header-->
            <div class="navbar-header">
              <!-- Navbar Brand --><a href="https://www.deluxeiceland.is" target="_blank" class="navbar-brand d-none d-sm-inline-block">
                <div class="brand-text d-none d-lg-inline-block">
                  <img src="https://www.deluxeiceland.is/wp-content/uploads/2017/08/deluxe-logo@2x.png" id="MainLogo" alt="Deluxe Iceland">
                </div>
            </div>
            <!-- Navbar Menu -->
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
              <!-- Logout    -->
              <li class="nav-item"><a href="https://deluxeiceland.is/inquire/" target="_blank" class="nav-link logout" style="display: inline-block !IMPORTANT;"> <span class="d-none d-sm-inline">Need help?</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
